openapi: "3.1.0"
info:
  title: "image API"
  description: "kamppis_server API for images"
  version: "1.0.0"
servers:
  - url: "https://kamppis.hellmanstudios.fi"
paths:
  /api/images/get/{userId}/{filename}:
    get:
      summary: "Returns an image uploaded by the user"
      operationId: "getImage"
      parameters:
        - name: "userId"
          in: "path"
          required: true
          schema:
            type: "integer"
            format: "int64"
        - name: "filename"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Resource"
  /api/images/{userId}:
    post:
      summary: "Adds a new image to the user"
      operationId: "uploadImage"
      parameters:
        - name: "userId"
          in: "path"
          required: true
          schema:
            type: "integer"
            format: "int64"
        - name: "image"
          in: "query"
          required: true
          schema:
            type: "string"
            format: "binary"
        - name: "isProfilePhoto"
          in: "query"
          required: false
          schema:
            type: "boolean"
            default: "false"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                type: "string"
  /api/images/{userId}/{photoId}:
    delete:
      summary: "Deletes a user's image"
      operationId: "deleteImage"
      parameters:
        - name: "userId"
          in: "path"
          required: true
          schema:
            type: "integer"
            format: "int64"
        - name: "photoId"
          in: "path"
          required: true
          schema:
            type: "integer"
            format: "int64"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                type: "string"
    put:
      summary: "Updates an image"
      operationId: "updateImage"
      parameters:
        - name: "userId"
          in: "path"
          required: true
          schema:
            type: "integer"
            format: "int64"
        - name: "photoId"
          in: "path"
          required: true
          schema:
            type: "integer"
            format: "int64"
        - name: "isProfilePhoto"
          in: "query"
          required: false
          schema:
            type: "boolean"
            default: "false"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                type: "string"
components:
  schemas:
    Resource:
      type: "object"
      properties: { }