openapi: "3.1.0"
info:
  title: "user API"
  description: "kamppis_server API for users"
  version: "1.0.0"
servers:
  - url: "https://kamppis.hellmanstudios.fi"
paths:
  /api/users:
    get:
      summary: "Returns all users"
      operationId: "findAll"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/UserDTO"
    post:
      summary: "Adds a new user"
      operationId: "addUser"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserRequest"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserDTO"
  /api/users/{id}:
    get:
      summary: "Returns a single user by its id"
      operationId: "findUserById"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "integer"
            format: "int64"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserDTO"
    put:
      summary: "Updates a user"
      operationId: "updateUser"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "integer"
            format: "int64"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserRequest"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserDTO"
    delete:
      summary: "Deletes a user"
      operationId: "deleteById"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "integer"
            format: "int64"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Void"
  /api/users/mock:
    get:
      summary: "Returns all mock users"
      operationId: "findAllMock"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/UserDTO"
  /api/users/{id}/copy:
    get:
      summary: "GET api/users/{id}/copy"
      operationId: "getCopyOfUserData"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "integer"
            format: "int64"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserDataDTO"
  /api/users/{id}/restore:
    put:
      summary: "Restores a deleted user"
      operationId: "restoreById"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "integer"
            format: "int64"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserDTO"
  /api/users/{id}/preferences:
    get:
      summary: "Returns user's roommate and room preferences"
      operationId: "getUserPreferences"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "integer"
            format: "int64"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserPreferenceDTO"
    put:
      summary: "Returns user's roommate and room preferences"
      operationId: "updateUserPreferences"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "integer"
            format: "int64"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPreferenceRequest"
        required: true
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserPreferenceDTO"
components:
  schemas:
    UserSummaryDTO:
      type: "object"
      properties:
        firstName:
          type: "string"
        lastName:
          type: "string"
        age:
          type: "integer"
          format: "int64"
          nullable: true
        gender:
          type: "string"
          enum:
            - "MALE"
            - "FEMALE"
            - "OTHER"
            - "NOT_IMPORTANT"
        lookingFor:
          type: "string"
          nullable: true
          enum:
            - "OTHER_USER_PROFILES"
            - "ROOM_PROFILES"
            - "OTHER_USER_PROFILES_OR_ROOM_PROFILES"
            - "USER_PROFILES"
        isOnline:
          type: "boolean"
          nullable: true
        id:
          type: "integer"
          format: "int64"
          nullable: true
      required:
        - "firstName"
        - "lastName"
        - "gender"
    ProfilePhotoDTO:
      type: "object"
      properties:
        profileId:
          type: "integer"
          format: "int64"
        url:
          type: "string"
        isProfilePhoto:
          type: "boolean"
        id:
          type: "integer"
          format: "int64"
          nullable: true
      required:
        - "profileId"
        - "url"
        - "isProfilePhoto"
    UserProfileDTO:
      type: "object"
      properties:
        userId:
          type: "integer"
          format: "int64"
        user:
          nullable: true
          $ref: "#/components/schemas/UserSummaryDTO"
        bio:
          type: "string"
        cleanliness:
          type: "string"
          nullable: true
          enum:
            - "SPOTLESS"
            - "TIDY"
            - "CASUAL"
            - "MESSY"
            - "CAREFREE"
        pets:
          type: "string"
          nullable: true
          enum:
            - "PET_OWNER"
            - "OK_WITH_PETS"
            - "PREFER_NO_PETS"
        lifestyle:
          type: "array"
          nullable: true
          items:
            type: "string"
            enum:
              - "EARLY_BIRD"
              - "NIGHT_OWL"
              - "PARTY_GOER"
              - "HOMEBODY"
              - "STUDENT"
              - "WORKING"
          uniqueItems: true
        photos:
          type: "array"
          items:
            $ref: "#/components/schemas/ProfilePhotoDTO"
        id:
          type: "integer"
          format: "int64"
          nullable: true
      required:
        - "userId"
        - "bio"
        - "photos"
    FlatDTO:
      type: "object"
      properties:
        name:
          type: "string"
        description:
          type: "string"
        location:
          type: "string"
          enum:
            - "HELSINKI"
            - "ESPOO"
            - "TAMPERE"
            - "VANTAA"
            - "OULU"
            - "TURKU"
            - "JYVASKYLA"
            - "KUOPIO"
            - "LAHTI"
            - "PORI"
            - "KOUVOLA"
            - "JOENSUU"
            - "LAPPEENRANTA"
            - "HAMEENLINNA"
            - "VAASA"
            - "SEINAJOKA"
            - "ROVANIEMI"
            - "MIKKELI"
            - "SALO"
            - "KOTKA"
            - "PORVOO"
            - "KOKKOLA"
            - "HYVINKAA"
            - "LOHJA"
            - "JARVENPAA"
            - "NURMIJARVI"
            - "KIRKKONUMMI"
            - "TUUSULA"
            - "RAUMA"
            - "KERAVA"
            - "KAJAANI"
            - "KAARINA"
            - "NOKIA"
            - "YLOJARVI"
            - "KANGASALA"
            - "SAVONLINNA"
            - "VIHTI"
            - "RIIHIMAKI"
            - "RAASEPORI"
            - "IMATRA"
            - "RAISIO"
            - "RAAHE"
            - "LEMPAALA"
            - "SASTAMALA"
            - "HOLLOLA"
            - "SIPOO"
            - "TORNIO"
            - "SIILINJARVI"
            - "IISALMI"
            - "MANTSALA"
        totalRoommates:
          type: "integer"
          format: "int32"
        petHousehold:
          type: "boolean"
          nullable: true
        flatUtilities:
          type: "array"
          nullable: true
          items:
            type: "string"
            enum:
              - "WIFI"
              - "DISHWASHER"
              - "LAUNDRY_MACHINE"
              - "BALCONY"
              - "PRIVATE_BATHROOM"
              - "SEPARATE_BATHROOM_AND_SHOWER"
        roomProfileIds:
          type: "array"
          nullable: true
          items:
            type: "integer"
            format: "int64"
        id:
          type: "integer"
          format: "int64"
          nullable: true
      required:
        - "name"
        - "description"
        - "location"
        - "totalRoommates"
    RoomProfileDTO:
      type: "object"
      properties:
        userIds:
          type: "array"
          items:
            type: "integer"
            format: "int64"
        users:
          type: "array"
          nullable: true
          items:
            $ref: "#/components/schemas/UserSummaryDTO"
        flat:
          $ref: "#/components/schemas/FlatDTO"
        name:
          type: "string"
          nullable: true
        totalRoommates:
          type: "integer"
          format: "int32"
        location:
          type: "string"
          enum:
            - "HELSINKI"
            - "ESPOO"
            - "TAMPERE"
            - "VANTAA"
            - "OULU"
            - "TURKU"
            - "JYVASKYLA"
            - "KUOPIO"
            - "LAHTI"
            - "PORI"
            - "KOUVOLA"
            - "JOENSUU"
            - "LAPPEENRANTA"
            - "HAMEENLINNA"
            - "VAASA"
            - "SEINAJOKA"
            - "ROVANIEMI"
            - "MIKKELI"
            - "SALO"
            - "KOTKA"
            - "PORVOO"
            - "KOKKOLA"
            - "HYVINKAA"
            - "LOHJA"
            - "JARVENPAA"
            - "NURMIJARVI"
            - "KIRKKONUMMI"
            - "TUUSULA"
            - "RAUMA"
            - "KERAVA"
            - "KAJAANI"
            - "KAARINA"
            - "NOKIA"
            - "YLOJARVI"
            - "KANGASALA"
            - "SAVONLINNA"
            - "VIHTI"
            - "RIIHIMAKI"
            - "RAASEPORI"
            - "IMATRA"
            - "RAISIO"
            - "RAAHE"
            - "LEMPAALA"
            - "SASTAMALA"
            - "HOLLOLA"
            - "SIPOO"
            - "TORNIO"
            - "SIILINJARVI"
            - "IISALMI"
            - "MANTSALA"
        rent:
          type: "integer"
          format: "int32"
        isPrivateRoom:
          type: "boolean"
        furnished:
          type: "boolean"
        furnishedInfo:
          type: "string"
          nullable: true
        photos:
          type: "array"
          nullable: true
          items:
            $ref: "#/components/schemas/ProfilePhotoDTO"
        bio:
          type: "string"
        id:
          type: "integer"
          format: "int64"
          nullable: true
      required:
        - "userIds"
        - "flat"
        - "totalRoommates"
        - "location"
        - "rent"
        - "isPrivateRoom"
        - "furnished"
        - "bio"
    UserDTO:
      type: "object"
      properties:
        firstName:
          type: "string"
        lastName:
          type: "string"
        email:
          type: "string"
        dateOfBirth:
          type: "string"
          format: "date"
        age:
          type: "integer"
          format: "int64"
          nullable: true
        gender:
          type: "string"
          enum:
            - "MALE"
            - "FEMALE"
            - "OTHER"
            - "NOT_IMPORTANT"
        lookingFor:
          type: "string"
          nullable: true
          enum:
            - "OTHER_USER_PROFILES"
            - "ROOM_PROFILES"
            - "OTHER_USER_PROFILES_OR_ROOM_PROFILES"
            - "USER_PROFILES"
        status:
          type: "string"
          nullable: true
          enum:
            - "ACTIVE"
            - "INACTIVE"
            - "DELETED"
        isOnline:
          type: "boolean"
          nullable: true
        matchIds:
          type: "array"
          nullable: true
          items:
            type: "integer"
            format: "int64"
          uniqueItems: true
        userProfile:
          nullable: true
          $ref: "#/components/schemas/UserProfileDTO"
        roomProfiles:
          type: "array"
          nullable: true
          items:
            $ref: "#/components/schemas/RoomProfileDTO"
        id:
          type: "integer"
          format: "int64"
          nullable: true
      required:
        - "firstName"
        - "lastName"
        - "email"
        - "dateOfBirth"
        - "gender"
    ProfilePhotoDataDTO:
      type: "object"
      properties:
        url:
          type: "string"
        isProfilePhoto:
          type: "boolean"
        createdAt:
          type: "string"
          format: "date-time"
        updatedAt:
          type: "string"
          format: "date-time"
          nullable: true
        deletedAt:
          type: "string"
          format: "date-time"
          nullable: true
      required:
        - "url"
        - "isProfilePhoto"
        - "createdAt"
    UserProfileDataDTO:
      type: "object"
      properties:
        bio:
          type: "string"
        cleanliness:
          type: "string"
          nullable: true
          enum:
            - "SPOTLESS"
            - "TIDY"
            - "CASUAL"
            - "MESSY"
            - "CAREFREE"
        pets:
          type: "string"
          nullable: true
          enum:
            - "PET_OWNER"
            - "OK_WITH_PETS"
            - "PREFER_NO_PETS"
        lifestyle:
          type: "array"
          nullable: true
          items:
            type: "string"
            enum:
              - "EARLY_BIRD"
              - "NIGHT_OWL"
              - "PARTY_GOER"
              - "HOMEBODY"
              - "STUDENT"
              - "WORKING"
          uniqueItems: true
        photos:
          type: "array"
          items:
            $ref: "#/components/schemas/ProfilePhotoDataDTO"
        status:
          type: "string"
          enum:
            - "ACTIVE"
            - "INACTIVE"
        createdAt:
          type: "string"
          format: "date-time"
        updatedAt:
          type: "string"
          format: "date-time"
          nullable: true
        deletedAt:
          type: "string"
          format: "date-time"
          nullable: true
      required:
        - "bio"
        - "photos"
        - "status"
        - "createdAt"
    FlatDataDTO:
      type: "object"
      properties:
        name:
          type: "string"
        description:
          type: "string"
        location:
          type: "string"
          enum:
            - "HELSINKI"
            - "ESPOO"
            - "TAMPERE"
            - "VANTAA"
            - "OULU"
            - "TURKU"
            - "JYVASKYLA"
            - "KUOPIO"
            - "LAHTI"
            - "PORI"
            - "KOUVOLA"
            - "JOENSUU"
            - "LAPPEENRANTA"
            - "HAMEENLINNA"
            - "VAASA"
            - "SEINAJOKA"
            - "ROVANIEMI"
            - "MIKKELI"
            - "SALO"
            - "KOTKA"
            - "PORVOO"
            - "KOKKOLA"
            - "HYVINKAA"
            - "LOHJA"
            - "JARVENPAA"
            - "NURMIJARVI"
            - "KIRKKONUMMI"
            - "TUUSULA"
            - "RAUMA"
            - "KERAVA"
            - "KAJAANI"
            - "KAARINA"
            - "NOKIA"
            - "YLOJARVI"
            - "KANGASALA"
            - "SAVONLINNA"
            - "VIHTI"
            - "RIIHIMAKI"
            - "RAASEPORI"
            - "IMATRA"
            - "RAISIO"
            - "RAAHE"
            - "LEMPAALA"
            - "SASTAMALA"
            - "HOLLOLA"
            - "SIPOO"
            - "TORNIO"
            - "SIILINJARVI"
            - "IISALMI"
            - "MANTSALA"
        totalRoommates:
          type: "integer"
          format: "int32"
        petHousehold:
          type: "boolean"
          nullable: true
        flatUtilities:
          type: "array"
          nullable: true
          items:
            type: "string"
            enum:
              - "WIFI"
              - "DISHWASHER"
              - "LAUNDRY_MACHINE"
              - "BALCONY"
              - "PRIVATE_BATHROOM"
              - "SEPARATE_BATHROOM_AND_SHOWER"
      required:
        - "name"
        - "description"
        - "location"
        - "totalRoommates"
    RoomProfileDataDTO:
      type: "object"
      properties:
        flat:
          $ref: "#/components/schemas/FlatDataDTO"
        name:
          type: "string"
          nullable: true
        rent:
          type: "integer"
          format: "int32"
        isPrivateRoom:
          type: "boolean"
        furnished:
          type: "boolean"
        furnishedInfo:
          type: "string"
          nullable: true
        photos:
          type: "array"
          nullable: true
          items:
            $ref: "#/components/schemas/ProfilePhotoDataDTO"
        bio:
          type: "string"
        status:
          type: "string"
          enum:
            - "ACTIVE"
            - "INACTIVE"
        createdAt:
          type: "string"
          format: "date-time"
        updatedAt:
          type: "string"
          format: "date-time"
          nullable: true
        deletedAt:
          type: "string"
          format: "date-time"
          nullable: true
      required:
        - "flat"
        - "rent"
        - "isPrivateRoom"
        - "furnished"
        - "bio"
        - "status"
        - "createdAt"
    RoommatePreferenceDataDTO:
      type: "object"
      properties:
        minAgePreference:
          type: "integer"
          format: "int32"
          nullable: true
        maxAgePreference:
          type: "integer"
          format: "int32"
          nullable: true
        genderPreferences:
          type: "array"
          nullable: true
          items:
            type: "string"
            enum:
              - "MALE"
              - "FEMALE"
              - "OTHER"
              - "NOT_IMPORTANT"
        locationPreferences:
          type: "array"
          nullable: true
          items:
            type: "string"
            enum:
              - "HELSINKI"
              - "ESPOO"
              - "TAMPERE"
              - "VANTAA"
              - "OULU"
              - "TURKU"
              - "JYVASKYLA"
              - "KUOPIO"
              - "LAHTI"
              - "PORI"
              - "KOUVOLA"
              - "JOENSUU"
              - "LAPPEENRANTA"
              - "HAMEENLINNA"
              - "VAASA"
              - "SEINAJOKA"
              - "ROVANIEMI"
              - "MIKKELI"
              - "SALO"
              - "KOTKA"
              - "PORVOO"
              - "KOKKOLA"
              - "HYVINKAA"
              - "LOHJA"
              - "JARVENPAA"
              - "NURMIJARVI"
              - "KIRKKONUMMI"
              - "TUUSULA"
              - "RAUMA"
              - "KERAVA"
              - "KAJAANI"
              - "KAARINA"
              - "NOKIA"
              - "YLOJARVI"
              - "KANGASALA"
              - "SAVONLINNA"
              - "VIHTI"
              - "RIIHIMAKI"
              - "RAASEPORI"
              - "IMATRA"
              - "RAISIO"
              - "RAAHE"
              - "LEMPAALA"
              - "SASTAMALA"
              - "HOLLOLA"
              - "SIPOO"
              - "TORNIO"
              - "SIILINJARVI"
              - "IISALMI"
              - "MANTSALA"
    RoomPreferenceDataDTO:
      type: "object"
      properties:
        maxRent:
          type: "integer"
          format: "int32"
          nullable: true
        hasPrivateRoom:
          type: "boolean"
          nullable: true
        maxRoommates:
          type: "integer"
          format: "int32"
          nullable: true
        locationPreferences:
          type: "array"
          nullable: true
          items:
            type: "string"
            enum:
              - "HELSINKI"
              - "ESPOO"
              - "TAMPERE"
              - "VANTAA"
              - "OULU"
              - "TURKU"
              - "JYVASKYLA"
              - "KUOPIO"
              - "LAHTI"
              - "PORI"
              - "KOUVOLA"
              - "JOENSUU"
              - "LAPPEENRANTA"
              - "HAMEENLINNA"
              - "VAASA"
              - "SEINAJOKA"
              - "ROVANIEMI"
              - "MIKKELI"
              - "SALO"
              - "KOTKA"
              - "PORVOO"
              - "KOKKOLA"
              - "HYVINKAA"
              - "LOHJA"
              - "JARVENPAA"
              - "NURMIJARVI"
              - "KIRKKONUMMI"
              - "TUUSULA"
              - "RAUMA"
              - "KERAVA"
              - "KAJAANI"
              - "KAARINA"
              - "NOKIA"
              - "YLOJARVI"
              - "KANGASALA"
              - "SAVONLINNA"
              - "VIHTI"
              - "RIIHIMAKI"
              - "RAASEPORI"
              - "IMATRA"
              - "RAISIO"
              - "RAAHE"
              - "LEMPAALA"
              - "SASTAMALA"
              - "HOLLOLA"
              - "SIPOO"
              - "TORNIO"
              - "SIILINJARVI"
              - "IISALMI"
              - "MANTSALA"
    UserDataDTO:
      type: "object"
      properties:
        firstName:
          type: "string"
        lastName:
          type: "string"
        email:
          type: "string"
        dateOfBirth:
          type: "string"
          format: "date"
        gender:
          type: "string"
          enum:
            - "MALE"
            - "FEMALE"
            - "OTHER"
            - "NOT_IMPORTANT"
        lookingFor:
          type: "string"
          nullable: true
          enum:
            - "OTHER_USER_PROFILES"
            - "ROOM_PROFILES"
            - "OTHER_USER_PROFILES_OR_ROOM_PROFILES"
            - "USER_PROFILES"
        status:
          type: "string"
          nullable: true
          enum:
            - "ACTIVE"
            - "INACTIVE"
            - "DELETED"
        isOnline:
          type: "boolean"
          nullable: true
        createdAt:
          type: "string"
          format: "date-time"
        updatedAt:
          type: "string"
          format: "date-time"
          nullable: true
        deletedAt:
          type: "string"
          format: "date-time"
          nullable: true
        userProfile:
          nullable: true
          $ref: "#/components/schemas/UserProfileDataDTO"
        roomProfiles:
          type: "array"
          items:
            $ref: "#/components/schemas/RoomProfileDataDTO"
        roommatePreference:
          nullable: true
          $ref: "#/components/schemas/RoommatePreferenceDataDTO"
        roomPreference:
          nullable: true
          $ref: "#/components/schemas/RoomPreferenceDataDTO"
      required:
        - "firstName"
        - "lastName"
        - "email"
        - "dateOfBirth"
        - "gender"
        - "createdAt"
        - "roomProfiles"
    UserRequest:
      type: "object"
      properties:
        firstName:
          type: "string"
        lastName:
          type: "string"
        email:
          type: "string"
        gender:
          type: "string"
          enum:
            - "MALE"
            - "FEMALE"
            - "OTHER"
            - "NOT_IMPORTANT"
        lookingFor:
          type: "string"
          nullable: true
          enum:
            - "OTHER_USER_PROFILES"
            - "ROOM_PROFILES"
            - "OTHER_USER_PROFILES_OR_ROOM_PROFILES"
            - "USER_PROFILES"
        dateOfBirth:
          type: "string"
          format: "date"
        id:
          type: "integer"
          format: "int64"
          nullable: true
      required:
        - "firstName"
        - "lastName"
        - "email"
        - "gender"
        - "dateOfBirth"
    Void:
      type: "object"
      properties: { }
    RoomPreferenceDTO:
      type: "object"
      properties:
        userId:
          type: "integer"
          format: "int64"
          nullable: true
        maxRent:
          type: "integer"
          format: "int32"
          nullable: true
        hasPrivateRoom:
          type: "boolean"
          nullable: true
        maxRoommates:
          type: "integer"
          format: "int32"
          nullable: true
        locationPreferences:
          type: "array"
          nullable: true
          items:
            type: "string"
            enum:
              - "HELSINKI"
              - "ESPOO"
              - "TAMPERE"
              - "VANTAA"
              - "OULU"
              - "TURKU"
              - "JYVASKYLA"
              - "KUOPIO"
              - "LAHTI"
              - "PORI"
              - "KOUVOLA"
              - "JOENSUU"
              - "LAPPEENRANTA"
              - "HAMEENLINNA"
              - "VAASA"
              - "SEINAJOKA"
              - "ROVANIEMI"
              - "MIKKELI"
              - "SALO"
              - "KOTKA"
              - "PORVOO"
              - "KOKKOLA"
              - "HYVINKAA"
              - "LOHJA"
              - "JARVENPAA"
              - "NURMIJARVI"
              - "KIRKKONUMMI"
              - "TUUSULA"
              - "RAUMA"
              - "KERAVA"
              - "KAJAANI"
              - "KAARINA"
              - "NOKIA"
              - "YLOJARVI"
              - "KANGASALA"
              - "SAVONLINNA"
              - "VIHTI"
              - "RIIHIMAKI"
              - "RAASEPORI"
              - "IMATRA"
              - "RAISIO"
              - "RAAHE"
              - "LEMPAALA"
              - "SASTAMALA"
              - "HOLLOLA"
              - "SIPOO"
              - "TORNIO"
              - "SIILINJARVI"
              - "IISALMI"
              - "MANTSALA"
        id:
          type: "integer"
          format: "int64"
          nullable: true
    RoommatePreferenceDTO:
      type: "object"
      properties:
        userId:
          type: "integer"
          format: "int64"
          nullable: true
        minAgePreference:
          type: "integer"
          format: "int32"
          nullable: true
        maxAgePreference:
          type: "integer"
          format: "int32"
          nullable: true
        genderPreferences:
          type: "array"
          nullable: true
          items:
            type: "string"
            enum:
              - "MALE"
              - "FEMALE"
              - "OTHER"
              - "NOT_IMPORTANT"
        locationPreferences:
          type: "array"
          nullable: true
          items:
            type: "string"
            enum:
              - "HELSINKI"
              - "ESPOO"
              - "TAMPERE"
              - "VANTAA"
              - "OULU"
              - "TURKU"
              - "JYVASKYLA"
              - "KUOPIO"
              - "LAHTI"
              - "PORI"
              - "KOUVOLA"
              - "JOENSUU"
              - "LAPPEENRANTA"
              - "HAMEENLINNA"
              - "VAASA"
              - "SEINAJOKA"
              - "ROVANIEMI"
              - "MIKKELI"
              - "SALO"
              - "KOTKA"
              - "PORVOO"
              - "KOKKOLA"
              - "HYVINKAA"
              - "LOHJA"
              - "JARVENPAA"
              - "NURMIJARVI"
              - "KIRKKONUMMI"
              - "TUUSULA"
              - "RAUMA"
              - "KERAVA"
              - "KAJAANI"
              - "KAARINA"
              - "NOKIA"
              - "YLOJARVI"
              - "KANGASALA"
              - "SAVONLINNA"
              - "VIHTI"
              - "RIIHIMAKI"
              - "RAASEPORI"
              - "IMATRA"
              - "RAISIO"
              - "RAAHE"
              - "LEMPAALA"
              - "SASTAMALA"
              - "HOLLOLA"
              - "SIPOO"
              - "TORNIO"
              - "SIILINJARVI"
              - "IISALMI"
              - "MANTSALA"
        id:
          type: "integer"
          format: "int64"
          nullable: true
    UserPreferenceDTO:
      type: "object"
      properties:
        roomPreference:
          nullable: true
          $ref: "#/components/schemas/RoomPreferenceDTO"
        roommatePreference:
          nullable: true
          $ref: "#/components/schemas/RoommatePreferenceDTO"
        id:
          type: "integer"
          format: "int64"
          nullable: true
    UserPreferenceRequest:
      type: "object"
      properties:
        roomPreference:
          nullable: true
          $ref: "#/components/schemas/RoomPreferenceDTO"
        roommatePreference:
          nullable: true
          $ref: "#/components/schemas/RoommatePreferenceDTO"